/* common shared styles */


/* header styles */

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url('../images/banner/banner_image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    text-align: center;
}

.banner-text1 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.banner-text2 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    color: #FFFFFF;
    width: 630px;
    margin-top: 0;
}

/* offer section styles */

.offer-content {
    max-width: 805px;
    margin: auto;
}

.offer-details {
    text-align: center;
}

.offer-text1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    color: #FF0000;
    margin-bottom: 48px;
}

.offer-text2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FF0000;
    margin-top: 0;
    margin-bottom: 16px;
}

.offer-text3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #070211;
    margin-top: 0;
    margin-bottom: 48px;
}

/* party section styles */

.party-section {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url('../images/resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
    margin-top: 120px;
}

.party-section-info {
    max-width: 650px;
}

.party-section-title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.party-section-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ffffffcc;
    margin-top: 0;
    margin-bottom: 48px;
}

.join-now-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background: none;
    border: none;
    padding-left: 32px;
}

/* party location information details */

.party-location-section {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    width: 1320px;
    height: 480px;
    border-radius: 16px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.party-location-info {
    text-align: center;
}

.party-location-info h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #070211;
}

.party-location-info span {
    color: #FF0000;
}

.party-location-btn {
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background: #FF0000;
    border-radius: 8px;
    border: 0;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

/* best offer section styles */

.best-offer-section {
    width: 1320px;
    height: 480px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 120px;
    gap: 70px;
}

.coming-soon-offer {
    max-width: 394px;
}

.offer-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FF0000;
    margin-bottom: 16px;
}

.offer-message {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    color: #070211;
    margin-top: 0;
    margin-bottom: 22px;
}

.offer-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #07021199;
    margin-top: 0;
}

.offer-image img {
    border: 15px solid #FF0000;
    height: 364px;
    width: 364px;
    border-radius: 350px;
    padding: 30px;
}

.best-offer-details {
    text-align: left;
}

.offer-year {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #FF0000;
    margin-bottom: 16px;
}

.best-offer-details img {
    margin-top: 44px;
}