/* common shared styles */


/* header styles */

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url('../images/banner/banner_image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    text-align: center;
}

.banner-text1 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.banner-text2 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    color: #FFFFFF;
    width: 630px;
    margin-top: 0;
}